
/*  signUp page working end here   */
body{
    margin: 0px;
    padding: 0px;
}
#mainContainer{
            height: 625px;
             width: 100%;
             background-image: url(../image/slider/img1.jpg);
             background-attachment: fixed;
             background-size: cover;
             margin: 0px;
             margin-top: -20px;  
}
#welcomeTag{
    color: white;
    padding: 20px 10%;
    font-size: 130%;
    text-align: center;
    
}
#center{
    padding: 120px 0px;
}
#signInBox , #signUpBox{
    width: 90%;
    background-color: #ffffff;
    border: 1px solid #E1E8ED;
    border-radius: 5px;
    padding: 10px;
    font-size: 85%;
    margin: 10px 0px;
}
#signInBox{
    margin-top: 50px;
}
#userNameInput , #userPassInput , #userNameInputUp , #userEmailInputUp ,#userPassInputUp{
    width: 100%;
    border-radius: 3px 3px;
    margin: 5px 0px;
    border:1px solid #CCD6DD;
    padding: 5px;
    font-size: 110%;
    
}
#userPassInput{
    width: 68%;
    margin-bottom: 10px;
}
.signInButton , .signUpButton{
    width: 28%;
    margin: 0px auto;
    padding: 0px;
    margin-left: 2%;
}
#meRemember{
    color: #8899A6;
    margin-left: 2px;
    font-weight: normal;
}
.signUpButton{
    width: 40%;
    margin-left: 60%;
    margin-top: 10px;
}

/*  signUp page working strat here   */