body{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F5F8FA;  
}


/*  left side Body   */


#left-box{
    width: 100%; 
    background-color: white;
}
.profile{
    width: 100%;
    height: 210px;
    background-color: white;
    border: 1px solid #E1E8ED;;
    border-radius: 5px 5px;
}
.profile-blue{
    width: 100%;
    height: 100px;
    background-color: #0084B4;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    
}
.profile-img{
    width: 70px;
    height: 70px;
    position: relative;
    top: 70px;
    left: 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.profile-rate{
    text-align: center;
    color: #8899A6;
    font-size: 0.7em; 
}
.profile-rate b{
    color: #0084B4;
    font-size: 200%;
}
.profile-decs{
  padding: 10px;   
}


/*  left side Body   end */


/*  left side group div   */
.group-box{
    width: 100%;
    background-color: white;
    border: 1px solid #E1E8ED;
    border-radius: 5px 5px;
    margin-top: 16px;
    padding: 10px 5%;
   
}
.group-trend a{
    text-decoration: none;
    color: blue;
    font-size: 0.8em;
}
.trend{
    color: gray;   
    padding-bottom: 8px;
    margin-bottom: 10px;
    border-bottom: 1px solid #E1E8ED ;
    
}
.group-link{
    width: 100%;
    height: 35px;
    margin: 4px 0px;
    font-size: 89%;
}
.group-link a{
    text-decoration: none;
    color: #0084C4;
    font-weight: bold;
}
.group-link a:hover{
    text-decoration: none;
    color: #0084C4;
    font-weight: bold;
}
.group-link p{
    margin-top: 0px;
    color: #A599A6;
    
}

/*  left side group div   */